<app-card>
  <!-- input decorator approach -->
  <button [class.active]="selected" (click)="onSelectUser()">
    <img [src]="imagePath" [alt]="user.name" />
    <span>{{ user.name }}</span>
  </button>


<!-- signal approach -->
  <!-- must execute image path as a function 
  to read that signal value and set subscription -->
  <!-- <button (click)="onSelectUser()"> 
    <img
      [src]="imagePath()"
      [alt]="name()"
    />
    <span>{{ name() }}</span>
  </button> -->
<!-- signal drawback -> can't change the value from inside the user component -->
</app-card>
